<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Hub</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Defer Firebase SDK scripts -->
    <!-- Removed inline script here. We will import Firebase in the firebaseConfig.js module -->

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding-top: 20px;
        }
        header, footer {
            background-color: #333;
            color: #ffffff;
            padding: 10px 0;
            text-align: center;
        }
    </style>

    {% block additional_head %}{% endblock %}
</head>

<body>

    <!-- Common Header or Navbar -->
    <header>
      Developer Hub
    </header>

    <!-- Main Content -->
    <main class="container">
        {% block content %}
        <!-- This space will be filled by child templates -->
        {% endblock %}
    </main>

    <!-- Common Footer -->
    <footer>
        Copyright © 2023 Developer Hub. All rights reserved.
    </footer>

    <!-- Firebase Configuration and Initialization -->
    <!-- Use type="module" to allow the use of import/export in the script -->
    <script type="module" src="{% static 'firebaseconfig.js' %}"></script>

    {% block additional_scripts %}{% endblock %}

    <!-- Bootstrap's JavaScript library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
